.App{
    background: linear-gradient(180deg, rgba(20,3,.6,1) 0%, rgb(66, 66, 192) 25%), rgb(53, 94, 102) 100%;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
  }

a + a {
    margin-left: 10px;
}  

p {
    justify-content: center;
}

#one {
    margin-top: 100px;
    width: 100vw;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    color:  	rgb(255,255,240);
    text-shadow: 3px 3px 5px black; 
}


#two {
    margin-top: 100px;
    width: 100vw;
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
    color:  	rgb(255,255,240);
    text-shadow: 3px 3px 5px black; 
}

#three {
    margin-top: 100px;
    width: 100vw;
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
    color:  	rgb(255,255,240);
    text-shadow: 3px 3px 5px black; 
}

.contact {
    justify-content: center;
    margin-top: 100px;
    width: 100vw;
    text-align: center;
    font-weight: bolder;
    color:  	rgb(255,255,240);
    text-shadow: 3px 3px 6px black;
    font-size: 5rem;
}


.about {
    margin-top: 100px;
    width: 100vw;
    text-align: center;
    font-weight: bolder;
    color:  	rgb(255,255,240);
    text-shadow: 3px 3px 6px black;
    font-size: 2rem;
}

footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0);
    width: 100vw;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .75em;
}

.pok{
    height: 15%;
    width: 15%;
    background: transparent;
    
}

.poke div{
    position: absolute;
}

.poke div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.poke div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.poke div:nth-child(3){
    top: 17%;
    left: 30%;
    animation: animate 9s linear infinite;
}

.poke div:nth-child(4){
    top: 27%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.poke div:nth-child(5){
    top: 50%;
    left: 10%;
    animation: animate 12s linear infinite;
}


.poke div:nth-child(6){
    top: 47%;
    left: 60%;
    animation: animate 9s linear infinite;
}

.poke div:nth-child(7){
    top: 80%;
    left: 60%;
    animation: animate 7s linear infinite;
}

.poke div:nth-child(8){
    top: 90%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.poke div:nth-child(9){
    top: 120%;
    left: 25%;
    animation: animate 10s linear infinite;
}

.poke div:nth-child(10){
    top: 65%;
    left: 40%;
    animation: animate 7s linear infinite;
}

.poke div:nth-child(11){
    top: 85%;
    left: 40%;
    animation: animate 7s linear infinite;
}

.poke div:nth-child(12){
    top: 95%;
    left: 40%;
    animation: animate 12s linear infinite;
}

.poke div:nth-child(13){
    top: 90%;
    left: 20%;
    animation: animate 12s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) translateX(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(2.5) translateY(90px) translateX(-10px) rotate(0);
        opacity: 0;
    }
}

@media (min-width: 481px) {
    .App{
        background-image: url(./pics/Backgorund.png);
    }
   
}

@media (max-width: 480px) {
    .App{
        background-image: url(./pics/Celbackground.png);
    }
    .about{
        width: 480px;
    }

}