header{
    background-image: url('./Backgorund.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    max-width: 100vw;
  }

p {
    justify-content: center;
}

#one {
    margin-top: 100px;
    background-color: transparent;
}

#two {
    margin-top: 100px;
    background-color: transparent;
}